__pycache__
.dockerignore
Dockerfile
*.pyc
*.pyo
*.pyd
env
venv
# Игнорировать IDE и виртуальные окружения
.idea/
.venv/

# Игнорировать кэш и временные файлы
__pycache__/

# Игнорировать файлы фикстур и базы данных
fixtures/
db.sqlite3

# Игнорировать секретные файлы
secret.py

# Игнорировать файлы окружения
.env
